---
layout: default
title: Snowlake - Digital Studio
meta_title: KITECH Manufacturing AI Research Center
meta_description: |
  KMAI main page
custom_color: purple
custom_font: 


hero_area:
  enable: true
  title: "Welcome"
  sub_title: |
      KITECH Manufacturing AI Research Center
  bg_image: "/assets/images/art/bg6.webp"


two_column_one:
  enable: true
  title: "
	생산 패러다임 변화를 위한 <br> 
	제조특화 인공지능 연구, <br>
	제조AI연구센터가 함께합니다!"
  image: "/assets/images/main-page/main3.png"
  button_text: "More Details"
  button_url: "#"
  paragraphs:
    - text: |
        제조AI연구센터는 제조 환경 변화에 시의적절히 대응할 수 있는 새로운 생산 패러다임 변화에 발맞추어 제조 기업의 인공지능 연구개발을 지원하기 위해 설립되었습니다.
    - text: |
        제조AI연구센터는 미래 생산기술을 선도할 제조특화 AI의 개발과 확산을 담당하는 연구센터로, 고신뢰성과 고확장성을 지니고 설명 가능 및 시스템 연계가 가능한 제조특화 AI 개발을 전담합니다.

two_column_two:
  enable: true
  title: "FROM MANUFACTURING TO VALUFACTURING"
  image: "/assets/images/main-page/main1.png"
  button_text: "More Details"
  button_url: "#"
  paragraphs:
    - text: |
        제조AI연구센터는 새로운 생산 패러다임을 구축해 생산기술의 고도화 및 지능화 기반을 마련하고, 제조 기업의 인공지능 연구개발을 지원합니다.
    - text: |
        어떤 내용을...


experiences:
  enable: true
  title: "Our projects"
  sub_title: "Ongoing Projects at the Manufacturing AI Research Center"
  button_text: "See Details"
  button_url: "./research/projects-onGoing"
  lists:
    - title: "통합 플랫폼 개발 과제"
      date: "NOV 2011 - PRESENT"
      description: 설명1

    - title: "제조혁신 현장적용 기술개발 과제"
      date: "SEP 2002 - APR 2005"
      description: 설명2

    - title: "AI 자율제조 과제"
      date: "MAY 2002 - AUG 2002"
      description: 설명3 

    - title: "산업핵심 기술개발/기반구축 과제"
      date: "MAY 2005 - SEP 2011"
      description: 설명4


projects_area:
  enable: true
  title: "Our Technologies"
  sub_title: "Key Technologies Developed by the Manufacturing AI Research Center"
  projects:
    - title: "제품 품질 검사 기술"
      img: "/assets/images/main-page/main-tech1.png"
      url: "#"

    - title: "설비 상태 진단 기술"
      img: "/assets/images/main-page/main-tech1.png"
      url: "#"
      
    - title: "맞춤형 설계 기술"
      img: "/assets/images/main-page/main-tech2.png"
      url: "#"
      
    - title: "디지털 트윈 기반"
      img: "/assets/images/main-page/main-tech2.png"
      url: "#"

about_area: 
  enable: true
  title: "Main Research Area"
  sub_title: "제조AI연구센터에서는 제조업의 검사, 진단, 물류, 설계, 공정관리를 위한 AI를 연구하고 있습니다."
  projects_number: 30
  project_tag: "Completed Projects"
  image: "/assets/images/main-page/2025_main.webp"

boxes_area:
  enable: true
  lists:
    - title: "검사 AI"
      description: "(품질검사, 결함검사, 성능검사 등)"
      icon: "icofont-microscope"
      bg_color: "bg-pink"

    - title: "진단 AI"
      description: "(상태진단, 고장예지, 수명예측 등)"
      icon: "icofont-help-robot"
      bg_color: "bg-blue"

    - title: "물류 AI"
      description: "(공간인지, 객체감지, 경로계획 등)"
      icon: "icofont-truck-loaded"
      bg_color: "bg-green"

    - title: "설계 AI"
      description: "(소재설계, 제품설계, 공정설계 등)"
      icon: "icofont-automation"
      bg_color: "bg-purple"

    - title: "공정관리 AI"
      description: "(생산공정 최적화, 계측·제어, 디지털트윈 등)"
      icon: "icofont-chart-line"
      bg_color: "bg-sky"

      
video_area:
  enable: true
  title: "한국생산기술연구원 제조AI연구센터"
  sub_title: |
      제조AI연구센터는 디지털 전환 시대에 제조업이 겪는 어려움을 해결하기 위해 특화된 AI 기술을 개발하고 있습니다. 전국적인 협력 네트워크를 통해 데이터 부족 문제를 해결하고 다양한 솔루션을 제공합니다.
  vimeo_video_id: "165101721"
  lists:
    - 제조 데이터 플랫폼
    - AI 솔루션 개발 및 최적화
    - 협력 및 생태계 구축

  services:
    - title: "제조업의 AI 전환"
      description: "제조 AI연구센터는 디지털 전환 시대에 맞춰 고신뢰성·고확장성 AI 기술을 개발하여 제조업의 혁신을 주도합니다."

    - title: "기업 지원 및 협력"
      description: "전국 10개 지역 본부와 협력해 현장 전문가와 AI 전문가가 함께 기업 맞춤형 솔루션을 제공하며 실질적 문제 해결을 지원합니다."

    - title: "비즈니스 창출"
      description: "제조 AI 생태계 구축과 데이터 기반 AI 플랫폼을 통해 새로운 산업 기회와 비즈니스 모델을 창출하고 있습니다."

clients_carousel_area:
  enable: true

blogs_area:
  enable: true
  title: "News"
  posts_number: 6

---


{% include layouts/nav/nav-5.html drop_search=true %}
{% if page.hero_area.enable %}
<div class="hero-area"> 
	<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{{page.hero_area.bg_image}}">
		<div class="container inner text-center">
			<div class="row">
				<div class="col-md-7 mx-auto">
					<div class="space140"></div>
					{% if page.hero_area.title %}
					<h2 class="section-title text-uppercase mb-30 text-center">{{page.hero_area.title}}</h2>
					{% endif %}
					{% if page.hero_area.sub_title %}
					<h1 class="display-1">{{page.hero_area.sub_title}}</h1>
					{% endif %}
					{% if page.hero_area.button_text %}
					<div class="space20"></div>
					<a href="{{page.hero_area.button_url}}" class="btn btn-l btn-white scroll">{{page.hero_area.button_text}}</a>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- /.container -->
		<div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 20.98">
			<path d="M0,0V21H1070V0A6830.24,6830.24,0,0,1,0,0Z" /></svg></div>
	</div>
</div>
{% endif %}

	<div class="container inner pt-0">
		<div class="features-wrapper">
			{% if page.two_column_one.enable %}
			<div class="two-column-one">
				<div class="space100"></div>
				<div class="row align-items-center">
					{% if page.two_column_one.image %}
					<div class="col-lg-6">
						<figure>
							<img src="{{page.two_column_one.image}}" alt="{{page.two_column_one.title}}" />
						</figure>
					</div>
					{% endif %}
					<div class="space40 d-lg-none"></div>
					<div class="col-lg-6 pl-60 pl-md-15">
						{% if page.two_column_one.title %}
						
						<h3 class="display-3">{{page.two_column_one.title}}</h3>
						{% endif %}
						<div class="space20"></div>
						{% for text_data in page.two_column_one.paragraphs %}
						<p style="text-align: justify;">{{text_data.text}}</p>
						{% endfor %} {% if page.two_column_one.button_text %}
						<div class="space10"></div>
						<a href="{{page.two_column_one.button_url}}" class="btn btn-default">{{page.two_column_one.button_text}}</a>
						{% endif %}
					</div>
					<!--/column -->
				</div>
				<!--/.row -->
			</div>
			{% endif %} 
			{% if page.two_column_two.enable %}
			<div class="two-column-two">
				<div class="space140"></div>
				<div class="row align-items-center">
					{% if page.two_column_two.image %}
					<div class="col-lg-6 order-lg-2">
						<figure>
							<img src="{{page.two_column_two.image}}" alt="{{page.two_column_two.title}}" />
						</figure>
					</div>
					{% endif %}
					<div class="col-lg-6 pl-60 pl-md-15">
						{% if page.two_column_two.title %}
						<h3 class="display-3">{{page.two_column_two.title}}</h3>
						{% endif %}
						<div class="space20"></div>
						{% for text_data in page.two_column_two.paragraphs %}
						<p>{{text_data.text}}</p>
						{% endfor %} {% if page.two_column_two.button_text %}
						<div class="space10"></div>
						<a href="{{page.two_column_two.button_url}}" class="btn btn-default">{{page.two_column_two.button_text}}</a>
						{% endif %}
					</div>
				</div>
				<!--/.row -->
			</div>
			{% endif %} 
			{% if page.two_column_three.enable %}
			<div class="two-column-three">
				<div class="space140"></div>
				<div class="row align-items-center">
					{% if page.two_column_three.image %}
					<div class="col-lg-6 order-lg-2">
						<figure>
							<img src="{{page.two_column_three.image}}" alt="{{page.two_column_three.title}}" />
						</figure>
					</div>
					{% endif %}
					<div class="col-lg-6 pl-60 pl-md-15">
						{% if page.two_column_three.title %}
						<h3 class="display-3">{{page.two_column_three.title}}</h3>
						{% endif %}
						<div class="space20"></div>
						{% for text_data in page.two_column_three.paragraphs %}
						<p>{{text_data.text}}</p>
						{% endfor %} {% if page.two_column_three.button_text %}
						<div class="space10"></div>
						<a href="{{page.two_column_three.button_url}}" class="btn btn-default">{{page.two_column_three.button_text}}</a>
						{% endif %}
					</div>
				</div>
				<!--/.row -->
			</div>
			{% endif %}
		</div>
		{% if page.clients_carousel.enable %}
		<div class="cliensts-carousel-wrapper">
			<div class="space140">
				{% if page.clients_carousel.title %}
				<div class="text-center">
					<h2 class="title-bg bg-default color-default">{{page.clients_carousel.title}}</h2>
				</div>
				{% endif %}
				
				<div class="space30"></div>
				{% include components/clients/clients-carousel.html %}
			</div>
		</div>
		{% endif %}
	</div>

<!--
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="display-1 larger">KITECH <span class="typer color-default" data-bs-delay="100" data-delim=":" data-words="Manufacturing AI Research Center"></span><span class="cursor color-default" data-owner="typer"></span></h2>
    <h3 class="display-4">제조AI연구센터는 한국생산기술연구원의 부원장 직속 조직으로, 우리 원에서 추진하는 『인공지능 기반 제조업 혁신』을 위한 AI 플랫폼 개발, 개발된 플랫폼의 빠른 확산, 원내 인공지능 전문가 육성 등의 역량 집중을 위해 2024년 1월 1일에 새롭게 설립되었습니다.</h3>
  </div>
</div>
-->

	<div class="wrapper gray-wrapper">
	  <div class="container inner">
        {% if page.about_area.enable %}
	    <div class="row align-items-center">
	      <div class="col-lg-6 order-lg-2 text-center">
	        <div class="position-relative">
	          {% if page.about_area.image %}
	          <figure>
	          	<img src="{{page.about_area.image}}" alt="{{page.about_area.title}}"/>
	          </figure>
	          {% endif %}
	          <div class="row counter counter-s position-absolute" style="top: 65%; right: 8%;">
	            <div class="col-md-10 text-center">
	              <div class="box bg-white shadow" style="width:180px; padding: 15px;">
	              	{% if page.about_area.projects_number %}
	                 <h3><span class="value">{{page.about_area.projects_number}}</span>+</h3>
	                {% endif %}
	                {% if page.about_area.project_tag %}
	                 <p>{{page.about_area.project_tag}}</p>
	                {% endif %}
	              </div>
	              <!--/.box -->
	            </div>
	            <!--/column -->
	          </div>
	          <!--/.row -->
	        </div>
	      </div>
	      <!--/column -->
	      <div class="space30 d-none d-md-block d-lg-none"></div>
	      <div class="col-lg-6 pr-60 pr-md-15">
	      	{% if page.about_area.title %}
	         <h2 class="section-title text-uppercase mb-20">{{ page.about_area.title }}</h2>
	        {% endif %}
	        {% if  page.about_area.sub_title %}
	         <p class="lead larger">{{page.about_area.sub_title}}</p>
	        {% endif %}
	        <div class="space20"></div>
	        <ul class="progress-list">
	          {% for skills in page.about_area.skills %}
	          <li>
	            <p>{{skills.title}}</p>
	            <div class="progressbar line {{skills.style}}" data-value="{{skills.numbers}}"></div>
	          </li>
	          {% endfor %}
	        </ul>
	        <!-- /.progress-list -->
	      </div>
	      <!--/column -->
	    </div>
	    <!--/.row --> 
        {% endif %}
    {% if page.boxes_area.enable %}
    <div class="boxes-area"> 
      <div class="space60"></div>
    
      <!-- 첫 번째 줄: 3개 -->
      <div class="row text-center justify-content-center mb-4">
        {% for list in page.boxes_area.lists limit:3 %}
        <div class="col-md-4">
          <div class="box {{list.bg_color}} shadow inverse-text p-4">
            <div class="icon color-white fs-42 mb-20"> 
              <i class="{{list.icon}}"></i> 
            </div>
            <h5>{{list.title}}</h5>
            <p>{{list.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    
      <!-- 두 번째 줄: 나머지 2개 -->
      <div class="row text-center justify-content-center">
        {% for list in page.boxes_area.lists offset:3 %}
        <div class="col-md-4">
          <div class="box {{list.bg_color}} shadow inverse-text p-4">
            <div class="icon color-white fs-42 mb-20"> 
              <i class="{{list.icon}}"></i> 
            </div>
            <h5>{{list.title}}</h5>
            <p>{{list.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
	  {% endif %}
	  </div>
	</div>
	<!-- /.wrapper -->



	{% if page.projects_area.enable %}
	<div class="wrapper white-wrapper" id="portfolio">
	  <div class="container inner">
		  {% if page.projects_area.title %}
		 <h2 class="section-title text-uppercase mb-20 text-center">{{page.projects_area.title}}</h2>
		{% endif %}
		{% if page.projects_area.sub_title %}
		 <p class="lead larger text-center">{{page.projects_area.sub_title}}</p>
		{% endif %}
		<div class="space30"></div>
		<div class="grid grid-view">
		  <div class="tiles tiles-m">
			<div class="row isotope">
			  {% for project in page.projects_area.projects %}
			  <div class="item grid-sizer col-md-6 corporate application">
				<figure class="overlay overlay1 rounded">
					<a href="{{project.url}}"> 
						<img src="{{project.img}}" alt="{{project.title}}"/>
					</a>
				  <figcaption>
					<h5 class="from-top mb-0">{{project.title}}</h5>
				  </figcaption>
				</figure>
			  </div>
			  <!-- /.item -->
			  {% endfor %}
			</div>
			<!-- /.row -->
		  </div>
		  <!-- /.tiles -->
		</div>
		<!-- /.grid -->
	  </div>
	  <!-- /.container -->
	 </div>
	 <!-- /.wrapper -->
	 {% endif %}


	 {% if page.experiences.enable %}
	 <div class="wrapper bg-opacity-default">
	  <div class="container inner">
		<div class="row align-items-center">
		  <div class="space30 d-none d-md-block d-lg-none"></div>
		  <div class="col-lg-4 order-lg-2">
			{% if page.experiences.title %}
			 <h2 class="section-title mb-20">{{page.experiences.title}}</h2>
			{% endif %}
			{% if page.experiences.sub_title %}
			<p class="lead larger">{{page.experiences.sub_title}}</p>
			{% endif %}
			{% if page.experiences.button_text %}
			<div class="space10"></div>
			<a href="{{page.experiences.button_url}}" class="btn btn-l">{{page.experiences.button_text}}</a>
			{% endif %}
		  </div>
		  <!--/column -->
		  <div class="space30 d-none d-md-block d-lg-none"></div>
		  <div class="col-lg-7 order-lg-2 offset-lg-1 grid">
			<div class="row isotope">
				{% for list in page.experiences.lists %}
				{% assign check_index = forloop.index | modulo: 2 %}
				{% if check_index == 1 %}
				<div class="col-md-6 item grid-sizer">
				<div class="box bg-white shadow shadow-hover">
				  <h5>{{list.title}}</h5>
				  <div class="meta">{{list.date}}</div>
				  <p>{{list.description}}</p>
				</div>
				<!--/.box -->
				<div class="space30"></div>
			  </div>
			   {% else %}
			   <div class="col-md-6 item grid-sizer">
				<div class="space30 d-none d-md-block"></div>
				<div class="box bg-white shadow shadow-hover">
				  <h5>{{list.title}}</h5>
				  <div class="meta">{{list.date}}</div>
				  <p>{{list.description}}</p>
				</div>
				<!--/.box -->
			  </div>
				{% endif %}
			  {% endfor %}
			</div>
			<!--/.row -->
		  </div>
		  <!--/column -->
		</div>
		<!--/.row -->
	  </div>
	  <!-- /.container -->
	 </div>
	<!-- /.wrapper -->
	{% endif %}


	{% if page.video_area.enable %}
	<div class="video-area">
	<div class="wrapper light-wrapper">
	  <div class="container inner">
	    <div class="row">
	     {% if page.video_area.vimeo_video_id %}
	      <div class="col-lg-8">
			<div class="player" data-plyr-provider="youtube" data-plyr-embed-id="O5KEaF5CwTk"></div>
		</div>
	      {% endif %}
	      <div class="space30 d-none d-md-block d-lg-none"></div>
	      <div class="col-lg-4 pl-50 pl-md-15">
	      {% if page.video_area.title %}
	        <h2 class="section-title text-uppercase mb-20">{{page.video_area.title}}</h2>
	      {% endif %}
	      {% if page.video_area.sub_title %}
	        <p>{{page.video_area.sub_title}}</p>
	       {% endif %}
	        <ul class="icon-list bullet-default">
	         {% for list in page.video_area.lists %}
	          <li>
	          	<i class="jam jam-arrow-right"></i> {{list}}
	          </li>
	          {% endfor %}
	        </ul>
	        {% if page.video_area.button_text %}
	         <div class="space10"></div>
	         <a href="{{page.video_area.button_url}}" class="btn mb-0">{{page.video_area.button_text}}</a>
	        {% endif %}
	      </div>
	      <!--/column -->
	    </div>
	    <!--/.row -->
	    <div class="space80"></div>
	    <div class="row gutter-60 gutter-md-30">
         {% for service in page.video_area.services %}
	      <div class="space30 d-none d-md-block d-lg-none"></div>
	      <div class="col-lg-4">
	        <div class="d-flex flex-row">
	          <div>
	            <span class="icon icon-bg icon-bg-default color-default mr-25">
	            	<span class="number">{{forloop.index}}</span>
	            </span>
	          </div>
	          <div>
	            <h5>{{service.title}}</h5>
	            <p class="mb-0">{{service.description}}</p>
	          </div>
	        </div>
	      </div>
          {% endfor %}
	    </div>
	    <!--/.row -->
	  </div>
	  <!-- /.container -->
	</div>
	<!-- /.wrapper -->
	</div>
  {% endif %}

  {% if page.blogs_area.enable %}
	<div class="wrapper gray-wrapper">
	  <div class="container inner">
	  	{% if page.blogs_area.title %}
	    <h2 class="section-title text-uppercase text-center mb-40">{{page.blogs_area.title}}</h2>
	    {% endif %}
	    <div class="grid-view">
	      <div class="carousel owl-carousel blog-posts" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
            {% for post in site.posts limit: page.blogs_area.posts_number %}
	        <div class="item">
	          <figure class="overlay overlay1 rounded mb-30">
	          	{% if post.post_image %}
	            	<a href="{{post.url}}"><img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}"/></a>
	          	{% endif %}
	            <figcaption>
	              <h5 class="from-top mb-0">Read More</h5>
	            </figcaption>
	          </figure>
	          <div class="category">
	          	<a href="/category/{{post.categories[0] | slugify}}" class="badge rounded-pill {{post.badge_color}} ">{{post.categories[0]}}</a>
	          </div>
	          <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
	          <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> {{post.date | date_to_string}}</span></div>
	        </div>
          {% endfor %}
	      </div>
	      <!-- /.owl-carousel -->
	    </div>
	    <!-- /.grid-view -->
	  </div>
	  <!-- /.container -->
	</div>
	<!-- /.wrapper -->
	{% endif %}
  {% include layouts/footer/footer-3.html %}
</div>
