---
layout: default
title: "Journals"
background_image: "/assets/images/art/bg5.webp"

---
{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title.html %}





  <!-- /.wrapper -->
<div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">International Journal</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-wrapper bg-white shadow">
            <ul class="nav nav-tabs">
              <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab2-1">2024-2023</a> </li>
              <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab2-2">2022-2021</a> </li>
              <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab2-3">~2020</a> </li>
            </ul>
            <!-- /.nav-tabs -->
            <div class="tab-content">
              <div class="tab-pane show active" id="tab2-1">
                <ol class="ordered-list-number">
                    <li>Inje Jang, Gihyun Bae, Dohyeong Kim, Geunho Kim, <strong>Sanga Lee</strong>*, "Prediction method of the deep drawing quality using Siamese deep neural network algorithm trained with time-dependent load curves," The International Journal of Advanced Manufacturing Technology, 135:5791-5807, 2024</li>
                    <li>Keunoh Lim+, Kyungjae Lee+, <strong>Sanga Lee</strong>*, Kwanjung Yee* , "Development of agent-based mesh generator for flow analysis using deep reinforcement learning," Engineering with Computers, 40:4043-4065, 2024 (+ equally contributed)</li>
                    <li><strong>Sanga Lee</strong>, Sunghyun Kim, Chankyu Son*, "Airfoil inverse design using a deep neural net with an explainable attention mechanism," International Journal of Aeronautical and Space Sciences, 25:399–409, 2024.</li>
                    <li>Sang Heon Lee, Min Young Kim, <strong>Min Woo Woo</strong>, Han Chang Lee, <strong>Hong-In Won</strong>, <strong>Seung Hyun Jeong</strong>*, "Predicting the Heading Angle of Resin During Extrusion Using Semantic Segmentation Based on Edge-Region Focal Loss," IEEE Transactions on Instrumentation and Measurement, 73:5024015, 2024</li>
                    <li>Minseon Gwak+, <strong>Jong Pil Yun</strong>+, Ji Yun Lee, Sang-Sun Han, PooGyeon Park*, Chena Lee*, "Attention‑guided jaw bone lesion diagnosis in panoramic radiography using minimal labeling effort," Scientific Reports, 14:4981, 2024. (+ equally contributed)</li>
                    <li><strong>Hyeyeon Choi</strong>, <strong>Jong Pil Yun</strong>, Bum Jun Kim, Hyeonah Jang, <strong>WooSang Shin</strong>, Sang Woo Kim*, "Steel product number recognition framework using semantic mask-conditioned diffusion model with limited data," Journal of Industrial Information Integration, Vol.38, 100559, 2024.</li>
                    <li><strong>Taehan Lee</strong>+, <strong>WooSang Shin</strong>+, Jong-Hyeon Lee, Sangmoon Lee, Han-Gyeol Yeom*, <strong>Jong Pil Yun</strong>*, "Resolving the Non-uniformity in the Feature Space of Age Estimation: A Deep Learning Model Based on Feature Clusters of Panoramic Images." Computerized Medical Imaging and Graphics, 102329, 2024. (+ equally contributed)</li>
                    <li><strong>Iljeok Kim</strong>, Juwon Na, <strong>Jong Pil Yun</strong>*, and Seungchul Lee*, "Deep Feature Selection Framework for Quality Prediction in Injection Molding Process," IEEE Transactions on Industrial Informatics, Vol. 20(1), 503-512, 2024.</li>
                    <li>Sunwoong Yang, <strong>Sanga Lee</strong>, Kwanjung Yee*, "Inverse design optimization framework via a two‑step deep learning approach: application to a wind turbine airfoil," Engineering with Computers, 39:2239–2255, 2023</li>
                    <li>Han‑Gyeol Yeom, Byung‑Do Lee, Wan Lee, <strong>Taehan Lee</strong>*, and <strong>Jong Pil Yun</strong>*, "Estimating chronological age through learning local and global features of panoramic radiographs in the Korean population," Scientific Reports, 13:21857, 2023.</li>
                    <li>Minseon Gwak+, <strong>Min Su Kim</strong>+, <strong>Jong Pil Yun</strong>, and PooGyeon Park*, "Robust and explainable fault diagnosis with power-perturbation-based decision boundary analysis of deep learning models," IEEE Transactions on Industrial Informatics, Vol.19 (5), 6982-6992, 2023. (+ equally contributed)</li>
                    <li><strong>Hyeyeon Choi</strong>+, <strong>Jong Pil Yun</strong>+, Ari Lee, Sang‑Sun Han, Sang Woo Kim*, and Chena Lee*, "Deep learning synthesis of cone‑beam computed tomography from zero echo time magnetic resonance imaging," Scientific Reports, 123:6031, 2023.  (+ equally contributed)</li>
                    <li><strong>Seung Hyun Jeong</strong>, Sang Heon Lee, <strong>Hong-In Won</strong>*, "Development of microcatheter tube extrusion angle estimation system using convolutional neural network segmentation," Scientific Reports, 13: 18468, 2023</li>
                    <li>Ji-Wook Kim, <strong>Hong-In Won</strong>, Dong-Yong Park, In-Jae Kim, Jin-Woo Lee, Kyung-Duk Kim, Yoojeong Noh, <strong>Jin-Seok Jang</strong>*, "Study on Stochastic and Autoregressive Time Series Forecasting for Hydrogen Refueling Station," IEEE Access, 2023</li>
                    </ol>
              </div>
              <div class="tab-pane" id="tab2-2">
                <ol class="ordered-list-number">
                    <li><strong>Min Su Kim</strong>, <strong>Jong Pil Yun</strong>, PooGyeon Park*, "Deep Learning-based Explainable Fault Diagnosis Model with an Individually Grouped 1D Convolution for 3-axis Vibration Signals," IEEE Transactions on Industrial Informatics, Vol.18 (12), 8807-8817, 2022.</li>
                    <li><strong>Hyeyeon Choi</strong>, <strong>Jong Pil Yun</strong>, Bum Jun Kim, Hyeonah Jang, Sang Woo Kim*, "Attention-based Multimodal Image Feature Fusion Module for Transmission Line Detection," IEEE Transactions on Industrial Informatics, Vol.18 (11), 7686-7695, 2022</li>
                    <li><strong>Seung Hyun Jeong</strong>, <strong>Min Woo Woo</strong>, Dong Sun Shin, Han Gyeol Yeom, Hun Jun Lim, Bong Chul Kim*, <strong>Jong Pil Yun</strong>*, "Three-dimensional postoperative results prediction for orthognathic surgery through deep learning-based alignment network," Journal of Personalized Medicine, Vol. 12(6), 998, 2022</li>
                    <li>Ji-Wook Kim, Dong-Yul Kim, <strong>Hong-In Won</strong>, Yoo-Jeong Noh, Dae-Cheol Ko, <strong>Jin-Seok Jang</strong>*, "Approximation Model Development and Dynamic Characteristic Analysis Based on Spindle Position of Machining Center," Materials, Vol.15 (20), 7158, 2022</li>
                    <li>Se-Kyung Park, Jun-Kyu Park, <strong>Hong-In Won</strong>, Seung-Hwan Choi, Chang-Hyun Kim, Suwoong Lee*, Min Young Kim*, "Three-Dimensional Foot Position Estimation Based on Footprint Shadow Image Processing and Deep Learning for Smart Trampoline Fitness System," Sensors (Basel), Vol.22 (18), 6922, 2022</li>
                    <li><strong>Seung Hyun Jeong</strong>, <strong>Min Woo Woo</strong>, <strong>Gyogwon Koo</strong>, Jong-Hak Lee, <strong>Jong Pil Yun</strong>*, "Automatic brittle fracture ratio estimation using convolutional neural network regression based on classmap regulation," IEEE Access, Vol. 9, 136552-136560, 2021</li>
                    <li>Hae Gwang Park, <strong>Jong Pil Yun</strong>, Min Young Kim, <strong>Seung Hyun Jeong</strong>*, "Multi-channel Object Detection for Detecting Suspected Trees with Pine Wilt Disease Using Multispectral Drone Imagery," IEEE Journal of Selected Topics in Applied Earth Observations and Remote Sensing, Vol 14, 8350-8358, 2021</li>
                    <li>Byung Su Kim+, Han Gyeol Yeom+, Jong Hyun Lee, Woo Sang Shin, <strong>Jong Pil Yun</strong>, <strong>Seung Hyun Jeong</strong>, Jae Hyun Kang, See Woon Kim, and Bong Chul Kim*, "Deep learning-based prediction of paresthesia after third molar extraction: a preliminary study," Diagnostics, Vol 11, 1572, 2021, (+ equally contributed)</li>
                    <li>Ari Lee+, <strong>Min Su Kim</strong>+, Sang-Sun Han, PooGyeon Park, Chena Lee*, <strong>Jong Pil Yun</strong>*, "Deep learning neural networks to differentiate Stafne’s bone cavity from pathological radiolucent lesions of the mandible in heterogeneous panoramic radiography," PLoS ONE, Vol 16(7), e0254997, 2021. (+ equally contributed)</li>
                    <li><strong>Min Su Kim</strong>, <strong>Jong Pil Yun</strong>, PooGyeon Park*, "An explainable neural network for Fault Diagnosis with a frequency activation map," IEEE Access, Vol 9, 98962 - 98972, 2021</li>
                    <li>Young Jung, <strong>Taehan Lee</strong>, Jiyoon Oh, Byung-Geon Park, Jong Soo Ko, Hyeok Kim, <strong>Jong Pil Yun</strong>*, and Hanchul Cho*, "Linearly Sensitive Pressure Sensor Based on a Porous Multistacked Composite Structure with Controlled Mechanical and Electrical Properties" ACS Applied Materials & Interfaces, Vol. 13(24), 28975-28984, 2021</li>
                    <li><strong>Seung Hyun Jeong</strong>+, <strong>Jong Pil Yun</strong>+, Han-Gyeol Yeom, Hwi Kang Kim, and Bong Chul Kim*, "Deep-Learning-Based Detection of Cranio-Spinal Differences between Skeletal Classification Using Cephalometric Radiography" Diagnostics, Vol. 11(4), 591, 2021, (+ equally contributed)</li>
                    <li><strong>WooSang Shin</strong>+, Han-Gyol Yeom+, Ga Hyung Lee, <strong>Jong Pil Yun</strong>, <strong>Seung Hyun Jeong</strong>, Jong Hyun Lee, Hwi Kang Kim, and Bong Chul Kim*, "Deep learning based prediction of necessity for orthognathic surgery of skeletal malocclusion using cephalogram in Korean individuals," BMC Oral Health 21, 130, 2021, (+ equally contributed)</li>
                    <li><strong>Min Su Kim</strong>, <strong>Jong Pil Yun</strong>*, PooGyeon Park*, "An Explainable Convolutional Neural Network for Fault Diagnosis in Linear Motion Guide," IEEE Transactions on Industrial Informatics, Vol 17(6), 4036-4045, 2021</li>
                    <li><strong>Gyogwon Koo</strong>, <strong>Jong Pil Yun</strong>, <strong>Hyeyeon Choi</strong>, Sang Woo Kim*, "Unified deep neural networks for end-to-end recognition of multi-oriented billet identification number," Expert Systems with Applications, 168, 114377, 2021</li>
                    <li>Su-Jin Jeon+, <strong>Jong Pil Yun</strong>+, Han-Gyeol Yeom, Woo-Sang Shin, <strong>Jong-Hyun Lee</strong>, Seung-Hyun Jeong, Min-Seock Seo*, "Deep-learning for predicting C-shaped canals in mandibular second molars on panoramic radiographs," Dentomaxillofacial Radiology, Vol 50(5), 20200513, 2021, (+ equally contributed)</li>
                    <li>Jeong-Hun Yoo+, Han-Gyeol Yeom+, <strong>WooSang Shin</strong>, <strong>Jong Pil Yun</strong>, <strong>Jong-Hyun Lee</strong>, Seung-Hyun Jeong, Hun Jun Lim, Jun Lee, and Bong Chul Kim*, "Deep learning based prediction of extraction difculty for mandibular third molars," Scientific Reports, 11, 1954, 2021, (+ equally contributed)</li>
                    </ol>
              </div>
              <div class="tab-pane" id="tab2-3">
                <ol class="ordered-list-number">
                    <li><strong>Seung Hyun Jeong</strong>+, <strong>Jong Pil Yun</strong>+, Han-Gyeol Yeom, Hun Jun Lim, Jun Lee, Bong Chul Kim*, "Deep learning based discrimination of soft tissue profiles requiring orthognathic surgery by facial photographs," Scientific Reports, 10, 16235, 2020, (+ equally contributed)</li>
                    <li><strong>Jong Pil Yun</strong>*, Woosang Crino Shin, <strong>Gyogwon Koo</strong>, <strong>Min Su Kim</strong>, Chungki Lee, Sang Jun Lee, "Automated defect inspection system for metal surfaces based on deep learning and data augmentation," Journal of Manufacturing Systems, Vol. 55, 317-324, 2020</li>
                    <li>Moon-Jo Kim, <strong>Jong Pil Yun</strong>, Ji-Ba-Reum Yang, Seung-Jun Choi, DongEung Kim*, "Prediction of the Temperature of Liquid Aluminum and the Dissolved Hydrogen Content in Liquid Aluminum with a Machine Learning Approach," Metals, Vol. 10(3), 330, 2020</li>
                    <li><strong>Hong-In Won</strong>*, M. Ercan Altinsoy, "Effect of Auditory Feedback on Tactile Intensity Perception in a Touchscreen Application," IEEE Trans Haptics, Vol.13(2), 343-353, 2020</li>
                    <li>Gyogwok Koo, Crino Shin, <strong>Hyeyeon Choi</strong>, Jong-Hak Lee, Sang Woo Kim*, <strong>Jong Pil Yun</strong>*, "Automated brittle fracture rate estimator for steel property evaluation using deep learning after drop-weight tear test," IEEE Access, Vol. 7, 145095-145103, 2019</li>
                    <li>Sang Jun Lee, Sang Woo Kim, Wookyong Kwon, <strong>Gyogwon Koo</strong>, <strong>Jong Pil Yun</strong>*, " Selective distillation of weakly annotated GTD for vision-based slab identification system," IEEE Access, Vol. 7, 23177-23186, 2019</li>
                    <li><strong>Jong Pil Yun</strong>, Sang Jun Lee, <strong>Gyogwon Koo</strong>, Crino Shin, Chang Hyun Park*, "Automatic defect inspection system for steel products with exhaustive dynamic encoding algorithm for searches," Optical Engineering, Vol. 58, No. 2, 023107, 2019</li>
                    <li><strong>Gyogwon Koo</strong>, <strong>Jong Pil Yun</strong>, Sang Jun Lee, <strong>Hyeyeon Choi</strong>, Sang Woo Kim*, " End-to-end Billet Identification Number Recognition System," ISIJ International, Vol. 59,  98-103, 2019</li>
                    <li>Sang Jun Lee, <strong>Jong Pil Yun</strong>, <strong>Gyogwon Koo</strong>, Sang Woo Kim*, "End-to-end recognition of slab identification numbers using a deep convolutional neural network," Knowledge-Based Systems, Vol. 132, 1-10, 2017</li>
                    </ol>
              </div>
              
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.tabs-wrapper -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->




  
<div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">Domestic Journal</h2>
        <div class="space20 d-none d-md-block"></div>
        <div class="col-md-12">
          <ol class="ordered-list-number">
	
            <li>이예지, 신우상, 윤종필, 주문갑*, "준지도 학습 기반의 미세조직 이미지 분할", 대한임베디드공학회논문지, Vol.19, No.6, 307-312, 2024 </li>

            <li>김성현, 홍윤표, 이상아*, "어텐션 기반의 설명가능한 신경망을 사용한 충격파 예측," 한국전산유체공학회지, Vol.29, No.3, 109-122, 2024</li>
            
            <li>박현빈, 홍윤표, 강유업, 이상아*, "익형의 충격파 예측을 위한 인공지능 모델 학습 및 XAI 적용", 한국전산유체공학회지, Vol.28, No.4, 16-26, 2023</li>
            
            <li>이상아, 유회수*, 서강명, "합성곱 신경망을 이용한 단락이행의 용접 스패터 발생량 예측", 대한용접접합학회지, Vol.41, No.1, 9-16, 2023</li>
            
            <li>강형민, 이상아*, "고속철도차량 개활지 주행 시 공기역학적 불확실성을 고려한 팬터그래프의 접촉력 안정성 분석", 한국전산유체공학회지, Vol.27, No.1, 89-94, 2022</li>
            
            <li>강형민, 이상아*, "공기역학적 불확실성을 고려한 CX 팬터그래프의 접촉력 안정성 평가", 한국전산유체공학회지, Vol.27, No.1, 76-82, 2021</li>
            
            <li>이준하, 원홍인, 김병학*, "다중 도메인 데이터 기반 구별적 모델 예측 트레커를 위한 동적 탐색 영역 특징 강화 기법", 대한임베디드공학회논문지, Vol. 16, No.6, 323-330, 2021</li>
            
            <li>원홍인*, 정승현, 장진석, 윤종필, "피드백 진동의 심층학습 기반 원단 분류 기술의 시험 및 평가", 대한임베디드공학회논문지, Vol.16, No.2, 43-49, 2021 </li>
            
            <li>윤종필*, 김민수, 구교권, 신우상, "전이 학습과 진동 신호를 이용한 설비 고장 진단 및 분석", 대한임베디드공학회논문지, Vol.14, No.6, 287-294, 2019 </li>


          </ol>
        </div>
        </div>
        <!-- /column -->
      </div>
      </div>




      
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% include layouts/footer/footer-3.html%}