---
layout: default
title: "Patents"
background_image: "/assets/images/art/bg5.webp"

---
{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title.html %}



  <!-- /.wrapper -->
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">Domestic Patents</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-wrapper bg-white shadow">
            <ul class="nav nav-tabs">
              <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab2-1">2024</a> </li>
              <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab2-2">2023-2022</a> </li>
              <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab2-3">2021-2020</a> </li>
              <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab2-3">~2019</a> </li>
            </ul>
            <!-- /.nav-tabs -->
            <div class="tab-content">
              <div class="tab-pane show active" id="tab2-1">
                <ol class="ordered-list-number">
                    <li>미세조직 이미지의 영상분할 장치 및 그 방법, 2024-12-04, 10-0178268, 윤준석 외</li>
                    <li>확산 모델을 이용한 초분광 영상 및 주석 생성 기법, 2024-11-22, 10-0168362, 윤종필 외</li>
                    <li>로봇 각 축의 기계적 성질 산출장치 , 2024-11-14, 10-0162383, 원홍인 외</li>
                    <li>사각지대의 물체 정보 검출 장치 및 방법, 2024-10-17, 10-0142375, 원홍인</li>
                    </ol>
              </div>
              <div class="tab-pane" id="tab2-2">
                <ol class="ordered-list-number">
                    <li>데이터 증강을 이용하여 결함 검사를 위한 학습 방법 및 이를 수행하는 장치, 2023-03-17, 10-2512625, 윤종필 외</li>
                    <li>동심 유지장치를 이용한 동심 유지시스템, 2023-06-08, 10-2543111, 원홍인 외</li>
                    <li>동심을 유지하는 압출모듈을 포함하는 압출성형장치, 2023-06-08, 10-2543107, 원홍인 외</li>
                    <li>입출력 데이터 생성 및 변형을 이용한 딥러닝 기반 제품 결함 검사 시스템 및 방법, 2022-12-05, 10-2475851, 윤종필 외</li>
                    <li>제품 구조 예측 기술을 이용한 딥러닝 기반 결함 검사 장치 및 방법, 대한민국, 2022-08-23, 10-2437115, 윤종필 외</li>
                    <li>검사 대상의 결함 검사를 고속으로 수행하는 방법 및 이를 수행하는 장치들, 대한민국, 2022-08-16, 10-2434442, 윤종필 외</li>
                    <li>주파수 합성을 이용한 딥러닝 기반 설비 진단 장치 및 방법, 대한민국, 2022-07-04, 10-2418118, 윤종필 외</li>
                    <li>설비 상태 진단 방법 및 설비 상태 진단 시스템, 대한민국, 2022-07-04, 10-2418117, 윤종필 외</li>
                    <li>기계학습 기반 고장 진단 장치 및 방법, 대한민국, 2022-06-29, 10-2416474, 윤종필 외</li>
                    <li>나노소재의 선택적 코팅 방법, 대한민국, 2022-05-11, 10-2398136, 윤종필 외</li>
                    <li>이중 공진구조를 포함하는 마이크로 볼로미터, 대한민국, 2022-03-16, 10-2376711, 윤종필 외</li>
                    <li>딥러닝 기반 자동 결함 검사 장치 및 방법, 대한민국, 2022-03-04, 10-2372714, 윤종필 외</li>
                    <li>듀얼 딥러닝을 이용한 제품의 내부 결함 검사 시스템 및 방법, 대한민국, 2022-02-24, 10-2369293, 윤종필 외</li>
                    <li>반복 운동의 동작 훈련을 위한 정량적 자세 분석 및 평가 장치 및 방법, 대한민국, 2022-10-13, 10-2456055, 원홍인 외</li>
                    <li>운동량 측정이 가능한 트램폴린 장치 및 이를 이용한 3차원 위치 도출 방법, 대한민국, 2022-05-10, 10-2397949, 원홍인 외</li>
                    <li>영상기반 주행 속도 및 방향 추론 장치 및 이를 이용한 영상기반 주행 속도 및 방향 추론 방법, 대한민국, 2022-10-13, 10-2456083, 원홍인 외</li>
                    <li>원단 표면 접촉 피드백 데이터 기반 원단 분류 장치, 이를 이용한 원단 분류 방법 및 원단 표면 접촉 피드백 데이터 획득 방법, 대한민국, 2022-02-16, 10-2365732, 원홍인 외</li>
                    </ol>
              </div>
              <div class="tab-pane" id="tab2-3">
                <ol class="ordered-list-number">
                    <li>머신러닝 기반 결함 분류 장치 및 방법, 대한민국, 2021-11-05, 10-2325347, 윤종필 외</li>
                    <li>특징 생성 기술을 이용한 머신러닝 기반 결함 분류 장치 및 방법 , 대한민국, 2021-10-08, 10-2313215, 윤종필 외</li>
                    <li>레이블 데이터 변형을 이용한 인공지능 기반 제품 품질 검사 시스템 및 방법, 대한민국, 2021-09-09, 10-2302541, 윤종필 외</li>
                    <li>데이터 페어 생성 기술을 이용한 딥러닝 기반 제품 결함 검사 시스템 및 방법, 대한민국, 2021-09-09, 10-2302540, 윤종필 외</li>
                    <li>머신러닝 기반 주파수 분석을 이용한 고장 진단 장치 및 방법, 대한민국, 2021-09-02, 10-2300049, 윤종필 외</li>
                    <li>검사 대상에 존재하는 결함을 검사하는 방법 및 이를 수행하는 장치들, 대한민국, 2021-08-31, 10-2298708, 윤종필 외</li>
                    <li>웨이퍼에 대한 세정용 브러쉬의 접촉 깊이 검출 장치 및 이의 깊이 검출 방법, 대한민국, 2021-08-11, 10-2290610, 윤종필 외</li>
                    <li>웨이퍼에 대한 세정용 브러쉬의 접촉 원점 검출 장치 및 이의 원점 검출 방법, 대한민국, 2021-08-11, 10-2290611, 윤종필 외</li>
                    <li>인공지능 기반 고장 진단 장치 및 방법, 대한민국, 2021-08-06, 10-2289212, 윤종필 외</li>
                    <li>웨이퍼 세정용 브러쉬의 수평 보정 장치, 대한민국, 2021-06-15, 10-2267452, 윤종필 외</li>
                    <li>웨이퍼 세정용 브러쉬의 수평 보정 방법, 대한민국, 2021-06-15, 10-2267453, 윤종필 외</li>
                    <li>머신러닝에 의해 생성된 가상 데이터를 이용한 고장 진단 방법 및 장치, 대한민국, 2021-06-09, 10-2265298, 윤종필 외</li>
                    <li>영상 변환을 이용한 머신러닝 기반 결함 분류 장치 및 방법, 대한민국, 2021-04-06, 10-2239133, 윤종필 외</li>
                    <li>딥러닝 기반 영상 데이터 생성 기술을 이용한 분류 시스템 및 그 제어 방법, 대한민국, 2020-11-11, 10-2179949, 윤종필 외</li>
                    <li>회전 커널을 이용한 머신러닝 기반 결함 분류 장치 및 방법, 대한민국, 2020-11-06, 10-2178238, 윤종필 외</li>
                    <li>머신러닝 기반 고장진단 장치 및 방법, 대한민국, 2020-10-26, 10-2172271, 윤종필 외</li>
                    <li>머신러닝 기반 영상 내의 대상 카운팅 장치 및 방법, 대한민국, 2020-06-25, 10-2129042, 윤종필 외</li>
                    <li>에너지 하베스트 소자용 CNT 박막 제조 방법, 에너지 하베스트 소자용 CNT 박막, CNT 에너지 하베스트 소자 제조 방법 및 CNT 에너지 하베스트 소자, 대한민국, 2020-03-27, 10-2096293, 윤종필 외</li>
                    <li>머신러닝 기반 영상의 장애물 제거 장치 및 방법, 대한민국, 2020-03-04, 10-2087296, 윤종필 외</li>
                    <li>복합재 센서 및 이의 제조 방법, 대한민국, 2020-02-05, 10-2075911, 윤종필 외</li>
                    <li>딥러닝의 활성화 함수 분석을 통한 물체 검출 장치 및 방법, 대한민국, 2020-01-21, 10-2070828, 윤종필 외</li>
                    <li>학습 데이터의 변환을 이용한 회전체의 효율 예측 시스템 및 방법, 대한민국, 2020-01-17, 10-2069553, 윤종필 외</li>
                    </ol>
              </div>
              <div class="tab-pane" id="tab2-4">
                <ol class="ordered-list-number">
                    <li>CNT 박막 제조 방법, CNT 박막, CNT 박막을 이용한 수소 센서 제조방법 및 CNT 박막을 이용한 수소 센서, 대한민국, 2019-11-27, 10-2051520, 윤종필 외</li>
                    <li>딥 러닝을 이용한 회전체의 효율 예측 시스템 및 방법 , 대한민국, 2019-08-21, 10-2014820, 윤종필 외</li>
                    <li>딥 러닝과 웨이블렛 변환을 이용한 회전체의 고장 진단 시스템, 대한민국, 2019-07-04, 10-1998559, 윤종필 외</li>
                    <li>딥러닝과 노이즈 제거 기술을 이용한 표면 결함 검출 장치 및 방법, 대한민국, 2019-06-19, 10-1992970, 윤종필 외</li>
                    <li>회전체의 열화 상태 진단 및 잔존 유효 수명 예측 시스템, 대한민국, 2019-06-18, 10-1992238, 윤종필 외</li>
                    <li>학습 데이터 융합을 이용한 회전체의 고장 진단 시스템 , 대한민국, 2019-04-03, 10-1967301, 윤종필 외</li>
                    <li>가속수명시험 데이터 기반 고장예지용 운용하중 데이터 생성 방법 및 장치, 대한민국, 2018-11-29, 10-1925480, 윤종필 외</li>
                    <li>마찰 대전을 이용한 가속도 센서 및 이를 이용한 가속도 측정 방법, 대한민국, 2018-06-22, 10-1872376, 윤종필 외</li>
                    <li>딥러닝 기반 표면 결함 검출장치 및 방법, 대한민국, 2018-05-25, 10-1863196, 윤종필 외</li>
                    <li>이진 영상을 이용한 결함 탐지장치 및 방법, 대한민국, 2018-01-23, 10-1822963, 윤종필 외</li>
                    <li>전해질 기울기 센서 및 이의 제조방법, 대한민국, 2017-12-15, 10-1811447, 윤종필 외</li>
                    </ol>
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.tabs-wrapper -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->



  {% include layouts/footer/footer-3.html%}