---
layout: default
title: "Ongoing Projects"
background_image: "/assets/images/art/bg5.webp"

---
{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title.html %}

<div class="wrapper light-wrapper">
    <div class="container inner">
  
      <h4>■ 통합 플랫폼 개발 과제</h4>
      <ul>
        <li>비전 시스템 AI 플랫폼 개발 및 적용 (~2025)</li>
        <li>멀티 도메인 디지털 트윈과 커넥티드 AI 융합 기반 생산 시스템 지능화 기술 (~2030)</li>
      </ul>
      <hr class="dotted" />

      <h4>■ 제조혁신 현장적용 기술개발 과제</h4>
      <ul>
        <li>알루미늄 다이캐스팅 제품 비파괴 영상 검사 지능화 기술 개발 (~2025)</li>
        <li>패키징 인쇄물의 불량 감정용 이미지 데이터 생성을 위한 Stable Diffusion 기반 생성형 AI 개발 (~2025)</li>
        <li>인공지능 기반 주조 공정 품질 예측 및 관리 시스템 개발 (~2027)</li>
      </ul>
      <hr class="dotted" />

      <h4>■ AI 자율제조 과제</h4>
      <ul>
        <li>반도체·석유화학·바이오·방산항공·섬유·조선 분야 제조특화 AI 공통 모델 개발 (~2028)</li>
        <li>반도체 소자용 CMP 부품의 AI 자율제조 기반 생산공정 및 시스템 개발 (~2027)</li>
        <li>카테터 자율제조를 위한 공정 지능화 기술 개발 (~2028)</li>
      </ul>
      <hr class="dotted" />

      <h4>■ 산업핵심 기술개발/기반구축 과제</h4>
      <ul>
        <li>근거리에 최적화된 카메라 이미지 융합 초고해상도 LiDAR 시스템 개발 (~2027)</li>
        <li>자이언트 캐스팅 차체 언더바디 부품화 후공정 기술개발 (~2028)</li>
        <li>로봇 및 로봇 서비스 디지털 트윈화 프레임워크 기술 (~2028)</li>
        <li>고강도·고방열 경량금속소재 부품화 실증 기반구축 (~2028)</li>
      </ul>
  
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  

{% include layouts/footer/footer-3.html%}