---
layout: default
title: "Alumni"
background_image: "/assets/images/art/bg6.webp"

---
{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title.html %}



<!-- /.wrapper -->
<div class="wrapper gray-wrapper">
  <div class="container inner">

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">이름</th>
              <th scope="col">졸업</th>
              <th scope="col">직위</th>
              <th scope="col">직장</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>신우상</td>
              <td>2025</td>
              <td>학생연구원, 박사후연구원</td>
              <td>Polaris3D</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>신우상</td>
                <td>2025</td>
                <td>학생연구원, 박사후연구원</td>
                <td>Polaris3D</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>신우상</td>
                <td>2025</td>
                <td>학생연구원, 박사후연구원</td>
                <td>Polaris3D</td>
              </tr>

              <tr>
                <th scope="row">4</th>
                <td>신우상</td>
                <td>2025</td>
                <td>학생연구원, 박사후연구원</td>
                <td>Polaris3D</td>
              </tr>

              <tr>
                <th scope="row">5</th>
                <td>신우상</td>
                <td>2025</td>
                <td>학생연구원, 박사후연구원</td>
                <td>Polaris3D</td>
              </tr>

              <tr>
                <th scope="row">6</th>
                <td>신우상</td>
                <td>2025</td>
                <td>학생연구원, 박사후연구원</td>
                <td>Polaris3D</td>
              </tr>



            
          </tbody>
        </table>
       
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->



<!--/.footer Wrapper-->
{% include layouts/footer/footer-3.html %}